<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
				<%= link_to(new_admins_quiz_path,:class => "btn btn-primary") do %>
				 Create New Quiz
				<% end %>
		</header>
		<section class="tab-content">
			<!-- Tab #static -->
			<div class="tab-pane active" id="static">
				<%= render :partial => "quiz_table", :locals => { :table_type => "category" }  %>
			</div>	
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>