<div id="landing_bottom_wrapper">
<div id="landing_bottom_left_wrapper">
<img id="landing_banner" src="assets/banner.jpg"/>
</div>
<div id="landing_bottom_right_wrapper">
<article class="span4 data-block todo-block">
		<div class="data-container" id="landing_free_btn_container">
			<button class="btn btn-primary" id="landing_free_btn" type="submit">Free mock</button>
		</div>
		<div class="data-container" id="landing_sign_up_container" >
			<header id="sign_up_header">
				<h2><span class="awe-edit"></span> Sign up</h2>
			</header>
			<section>
		<form class="form-horizontal">
          <div class="control-group landing_sign_up_control">
            <label class="control-label landing_sign_up_label" for="inputEmail">Full Name</label>
            <div class="controls landing_sign_up_textbox">
              <input type="text" class="landing_sign_up_tb" id="inputFullName" placeholder="Full Name" class="span3">
            </div>
          </div>
          <div class="control-group landing_sign_up_control">
            <label class="control-label landing_sign_up_label" for="inputEmail">Email</label>
            <div class="controls landing_sign_up_textbox">
              <input type="text" class="landing_sign_up_tb" id="inputEmail" placeholder="Email" class="span3">
            </div>
          </div>
          <div class="control-group landing_sign_up_control">
            <label class="control-label landing_sign_up_label" for="inputPassword">Password</label>
            <div class="controls landing_sign_up_textbox">
              <input type="password" class="landing_sign_up_tb" id="inputPassword" placeholder="Password" class="span3">
            </div>
          </div>
          <div class="control-group landing_sign_up_control">
            <label class="control-label landing_sign_up_label" for="inputPassword">Confirm Password</label>
            <div class="controls landing_sign_up_textbox">
              <input type="password" class="landing_sign_up_tb" id="inputConfirmPassword" placeholder="Confirm Password" class="span3">
            </div>
          </div>
          <div class="control-group landing_sign_up_control_last">
            <div class="controls landing_sign_up_textbox">
              <button type="submit" class="btn">Sign Up</button>
            </div>
          </div>
        </form>
			</section>
		</div>
	</article>
</div>

<div class="row">
	<!-- Data block -->
	<article class="span4 data-block decent landing_article">
		<div class="data-container">
			<header>
				<h2><div class="landing_sub_banner">10</div></h2>
			</header>
			<section>
				<p><div class="landing_sub_sub_banner">	Full length mock tests</div></p>	
			</section>
		</div>
	</article>
	<!-- /Data block -->
	<article class="span4 data-block decent landing_article">
		<div class="data-container">
			<header>
				<h2><div class="landing_sub_banner">1500</div></h2>
			</header>
			<section>
				<p><div class="landing_sub_sub_banner">	Questions</div></p>	
			</section>
		</div>
	</article>
	<!-- /Data block -->
	<article class="span4 data-block decent landing_article">
		<div class="data-container">
			<header>
				<h2><div class="landing_sub_banner">40</div></h2>
			</header>
			<section>
				<p><div class="landing_sub_sub_banner"> Category tests</div></p>	
			</section>
		</div>
	</article>
	<!-- /Data block -->
	<article class="span4 data-block decent landing_article">
		<div class="data-container">
			<header>
				<h2><div class="landing_sub_banner">500</div></h2>
			</header>
			<section>
				<p><div class="landing_sub_sub_banner"> Questions</div></p>	
			</section>
		</div>
	</article>
	
</div>
</div>
