<div style="height: 500px;">
	<div style="float:left;width:60%;height:100%;	">
		<img src="assets/banner.jpg" style="width:100%;height: 100%" />
	</div>
	<div style="float:left">
		<article class="span4 data-block todo-block">
						<div class="data-container" style="width: 430px;height: 500px;">
							<header>
								<h2><span class="awe-edit"></span> Features</h2>
							</header>
							<section>
								<form>
									<table class="table">
										<tbody>
											<tr>
												<td>
													<span>Full length mock tests</span>	
												</td>
											</tr>
											<tr>
												<td>
													<span>Category wise practise tests</span>	
												</td>
											</tr>
											<tr>
												<td>
													<span>Actual GRE exam user experience</span>	
												</td>
											</tr>
											<tr>
												<td>
													<span>Detailed analytics</span>	
												</td>
											</tr>
										</tbody>
									</table>
								</form>
							</section>
						</div>
					</article>
	</div>
</div>
