<div style="height: 500px;">
	<div style="float:left;width:60%;height:100%;	">
		<img src="assets/banner.jpg" style="width:100%;height: 100%" />
	</div>
	<div style="float:left">
		<article class="span4 data-block todo-block">
						<div class="data-container" style="width: 447px;height: 150px;margin-bottom: 10px;padding: 0px;border: none;">
							<button class="btn btn-primary" style="width: 100%;height: 100%;font-size: 45px;" type="submit">Free mock	</button>
						</div>
						<div class="data-container" style="width: 447px;height: 340px;">
							<header style="margin-bottom: 30px;">
								<h2><span class="awe-edit"></span> Sign up</h2>
							</header>
							<section>
								<form class="form-horizontal">
                          <div class="control-group" style="padding: 5px;">
                            <label class="control-label" style="width: 120px;" for="inputEmail">Full Name</label>
                            <div class="controls" style="margin-left: 140px;">
                              <input type="text" style="width: 210px;" id="inputFullName" placeholder="Full Name" class="span3">
                            </div>
                          </div>
                          <div class="control-group" style="padding: 5px;">
                            <label class="control-label" style="width: 120px;" for="inputEmail">Email</label>
                            <div class="controls" style="margin-left: 140px;">
                              <input type="text" style="width: 210px;" id="inputEmail" placeholder="Email" class="span3">
                            </div>
                          </div>
                          <div class="control-group" style="padding: 5px;">
                            <label class="control-label" style="width: 120px;" for="inputPassword">Password</label>
                            <div class="controls" style="margin-left: 140px;">
                              <input type="password" style="width: 210px;" id="inputPassword" placeholder="Password" class="span3">
                            </div>
                          </div>
                          <div class="control-group" style="padding: 5px;">
                            <label class="control-label" style="width: 120px;" for="inputPassword">Confirm Password</label>
                            <div class="controls" style="margin-left: 140px;">
                              <input type="password" style="width: 210px;" id="inputConfirmPassword" placeholder="Confirm Password" class="span3">
                            </div>
                          </div>
                          <div class="control-group" style="padding: 5px;padding-top: 20px;">
                            <div class="controls" style="margin-left: 140px;">
                              <button type="submit" class="btn">Sign Up</button>
                            </div>
                          </div>
                        </form>
							</section>
						</div>
					</article>
	</div>
	
	<div class="row">
					<!-- Data block -->
					<article class="span4 data-block decent" style="width: 277px;">
						<div class="data-container">
							<header>
								<h2 style="font-size: 25px">1,000,000</h2>
							</header>
							<section>
								<p style="font-size: 18px">	Tests taken</p>	
							</section>
						</div>
					</article>
					<!-- /Data block -->
					<article class="span4 data-block decent"style="width: 277px;">
						<div class="data-container">
							<header>
								<h2 style="font-size: 25px">2,000,00</h2>
							</header>
							<section>
								<p style="font-size: 18px">	People practicing everyday</p>	
							</section>
						</div>
					</article>
					<!-- /Data block -->
					<article class="span4 data-block decent" style="width: 277px;">
						<div class="data-container">
							<header>
								<h2 style="font-size: 25px">1,000</h2>
							</header>
							<section>
								<p style="font-size: 18px">	Tests sold</p>	
							</section>
						</div>
					</article>
					<!-- /Data block -->
					<article class="span4 data-block decent" style="width: 277px;">
						<div class="data-container">
							<header>
								<h2 style="font-size: 25px">1500</h2>
							</header>
							<section>
								<p style="font-size: 18px">	Questions</p>	
							</section>
						</div>
					</article>
					
				</div>
</div>
