<div class="span12">
  <div class="span8">
	<section class="category-section first">
    <h2>Shopping Cart</h2>
    <hr>
	<!-- show empty cart message -->
	<h4>		
		<p class="lead">Your cart is empty. Get tests from the <%= link_to "store", store_path, :style => "color:#01a31c !important", :"data-no-turbolink" => true %>. </p> <br /><br />
	</h4>
    </section>
  </div>
</div>