<div id="content" class="span12">
  <div class="span8">
	<section class="category-section first">
    <h2>Shopping Cart</h2>
    <hr>
	<!-- show empty cart message -->
	<h4>Your cart is empty. Get tests from the 
		<%= link_to(timed_tests_path) do %>
		 Store.
		<% end %>
	</h4>
    </section>
  </div>
</div>