<div id="content" class="span12">
  <div class="span8">
	<section class="category-section first">
    <h2>Buy <%= @quiz.name %></h2>
    <a href="#" class="pull-right"><h4>add to cart for buying later</h4></a>
    <hr>
    <!-- show only three per row -->
    <div class="row">
      <div class="span2 quiz-tile">
        <img src="http://placehold.it/150x100"/>
        <div class="caption">
          <h3><a href="#">Full Length 101</a></h3>
          <p>Hello</p>
          <p>Rs. 999</p> 
        </div>
      </div>
    </div>
    </section>
  </div>
  <div class="span3">
    <div class="metro pull-right">
      <a class="tile app bg-color-green" href="#">
         <div class="image-wrapper">
          <div style="font-size: 25px;">Proceed to Payment</div>
        </div>
        <div class="app-count">Rs. 999</div>
      </a>
    </div>
  </div>
</div>