<!-- Category & Topic Tests -->
<% store_entities.each_with_index do |entity_name_quizzes,index| %>

<% if index == 0 && current_user.purchased_full_quizzes.count != 0 %>
    <section class="category-section first">
<% else %>
    <section class="category-section">
<% end %>

<h2><%= entity_name_quizzes[:name] %></h2>

<% if entity_name_quizzes[:entity] == "Category" %>
    <%= link_to(category_all_timed_tests_path(entity_name_quizzes[:slug]), :class => "pull-right") do %>
        <h4>more</h4>
    <% end %>
<% else %>
    <%= link_to(topic_all_timed_tests_path(entity_name_quizzes[:slug]), :class => "pull-right") do %>
        <h4>more</h4>
    <% end %>
<% end %>

<hr>

<!-- show only three per row -->
<div class="row">
  <% entity_name_quizzes[:quizzes][0..2].each do |quiz| %>
    
    <%= render :partial => "quiz_block", :locals => { :quiz => quiz } %>
    
  <% end %>
</div>
</section>

<% end %>
