<div class="flip">
  <div class="card">
    <div class="face front">
      <%= word[:word] unless word.nil?%>
      <h5><%= word[:word] unless word.nil?%></h5>
    </div>

    <div class="face back">
      <%= word[:meaning] unless word.nil?%>
    </div>
  </div>
</div>