<div class="flip">
  <div class="card">
    <div class="face front">
      <%= word[:word] unless word.nil?%><br/>
      <h4><%= word[:word] unless word.nil?%></h4>
    </div>

    <div class="face back">
      <%= word[:meaning] unless word.nil?%>
    </div>
  </div>
</div>