<div id="full-test-pack-selection">
  
  <section class="category-section first">
   <h2>Full-length packages</h2>
  </section>
  
  <br />
  <br />
<section class="category-section first">
  
  <%= render :partial => "store_package", :locals => { :package => @package_1 } %>
  
  <%= render :partial => "store_package", :locals => { :package => @package_2 } %>
  
  <%= render :partial => "store_package", :locals => { :package => @package_3 } %>
  
</section>

</div>
    
<script>
    $('.pack-tile').on({
        mouseenter:function () {
            $(this).find('.actions').show();
        },
        mouseleave:function () {
            $(this).find('.actions').hide();
        }
    });
</script>