<div id="full-test-pack-selection">
      <header class="title">Select extra full tests</header>
      <div class="span12">
        <div class="row">
          <div class="span4 pack-tile light-grey blue-border">
            <h2><%= number_field_tag 'quantity', 2, :in => 1...10, :style => "width: 100%;" %></h2>
            <hr>
            <p><strong>2</strong> full length tests</p>
            <div class="prize">
              <hr>
              <p class="lead">&#x20b9; 399</p>
            </div>
          </div>
          <div class="span2">
            <div class="metro pull-right">
              <a class="tile app bg-color-green" href="#">
                 <div class="image-wrapper">
                  <span class="icon icon-cart"></span>
                </div>
                <div class="app-label">Cart</div>
                <div class="app-count">1</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>