<% content_for :nav_menu_header do %>
	Store
<% end %>

<% content_for :store_header_dropdown do %>
  <ul class="nav nav-pills pull-left">
  	
  	<% if @current_action == "timed_tests" %>
  		<li class="active"><%= link_to "Timed Tests", stores_timed_tests_path %></li>
  	<% else %>
  		<li ><%= link_to "Timed Tests", stores_timed_tests_path %></li>
  	<% end %>
  	
  	<% if @current_action == "practice_tests" %>
  		<li class="active"><%= link_to "Practice Tests", stores_practice_tests_path %></li>
  	<% else %>
  		<li><%= link_to "Practice Tests", stores_practice_tests_path %></li>
  	<% end %>
  
  </ul>
<% end %>