<div class="span8">

<%= render :partial => "full_quiz_group_block", :locals => { :quizzes => @full_length_quizzes } %>

<%= render :partial => "category_topic_quiz_group_block", :locals => { :store_entities => @store_entities } %>

</div>
