<% content_for :nav_menu_header do %>
    Store
<% end %>

<div class="span12">
  
  <!-- Show full-length pack selection if no full-length test is purchased. -->
  <% if @purchased_full_length_quizzes.count == 0 %>
    <div class="span12" style="margin-bottom: 35px;">
      <%= render "full_quiz_pack_selection"%>
    </div>
  <% else %>
    <div class="span8">
      <%= render :partial => "full_quiz_group_block", :locals => { :quizzes => @full_length_quizzes } %>
    </div>
  <% end %>
  
  <!-- Show category-topic tests -->
  <div class="span8">
    <%= render :partial => "category_topic_quiz_group_block", :locals => { :store_entities => @store_entities } %>
  </div>
  
  <!-- Show the cart -->
  <%= content_tag "div", id: "cart-wrapper",class: "span3 well", data: { cart: @cart.cart_items.to_json(:include => :quiz) } do%>
  <% end %>
  
</div>