<% content_for :nav_menu_header do %>
    Store
<% end %>

<div class="span12">
  <!-- Show category-topic tests -->
  <div class="span8">
    <%= render :partial => "category_topic_quiz_group_block", :locals => { :store_entities => @store_entities } %>
  </div>
  
  <% if current_user != nil %>
    <!-- Show the cart -->
    <%= content_tag "div", id: "cart-wrapper",class: "span3 well", data: { cart: @cart.cart_items.to_json(:include => [:quiz,:package]) } do%>
    <% end %>
  <% end %> 
</div>