
<%= render 'store_header' %>

<div id="content" class="span12">

  <%= content_tag "div", id: "cart-wrapper",class: "well", data: { cart: @cart.cart_items.to_json(:include => :quiz) } do%>

  <% end %>
  <% if current_user.purchased_full_quizzes.count == 0 %>
	<%= render "full_quiz_pack_selection"%>
  <% end %>
	
  <%= render "timed_quiz_buy_extra"%>
  	
</div> 

	 