
<%= render 'store_header' %>


<% if current_user.purchased_full_quizzes.count == 0 %>
	<div id="content"> 
		<%= render "full_quiz_pack_selection"%>
	</div>
<% else %>
	<%= render "timed_quiz_buy_extra"%>
<% end %>  