<%= form_for current_user, :url => update_profile_pic_path(current_user), :html => {:multipart => true} do |f| %>
  <p>
    <%= f.file_field :profile_image %>
  </p>
  <p><%= f.submit %></p>
<% end %>