// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#landing_bottom_wrapper  {
  height:500px;
}

#landing_bottom_left_wrapper {
  float:left;
  width:60%;
  height:100%;
}

#landing_banner {
  width:100%;
  height: 100%
}

#landing_bottom_right_wrapper {
  float:left;
}

#landing_free_btn_container {
    width: 447px;
    height: 150px;
    margin-bottom: 10px;
    padding: 0px;
    border: none;
}

#landing_free_btn {
  width: 100%;
  height: 100%;
  font-size: 45px;
}

#landing_sign_up_container {
  width: 447px;
  height: 340px;
}

 #sign_up_header {
  margin-bottom: 30px;
}

div.control-group.landing_sign_up_control {
  padding: 5px;
}

div.control-group.landing_sign_up_control_left {
  padding: 5px;
  padding-top: 20px;
}

label.control-label.landing_sign_up_label {
  width: 120px;
}

div.controls.landing_sign_up_textbox {
  margin-left: 140px;
}

input.landing_sign_up_tb {
  width: 210px;
}

.landing_sub_banner {
  font-size: 25px;
}

.landing_sub_sub_banner {
  font-size: 18px;
}

article.landing_article {
  width: 277px;
}

.landing_sub_logo_text {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 12px;
  margin-bottom: -5px;
}

span.landing_sub_logo_image {
  margin-right: 5px;
}

a.forgot-pwd {
  margin-top: 4px;
  margin-left: 16px;
}

div.remember-me-holder {
  margin-left: 1px;
}

button.btn-sign-in {
  margin-top: 4px;
}

div.row-sign-in {
  margin-left: 20px;
  margin-top: 5px;
}

form.sign-in-nav {
  width: 446px;
  margin-top: -45px;
  height: 73px;
  box-shadow: none;
  border:none
}

header.header-landing {
  height: 50px;
}

div.banner-right {
  float:right;
}

input.sign_up_email {
  width:285px;
}

label.sign_up_chbx_lbl {
  padding-left: 0px;
}

header#sign_in_header {
  margin-bottom: -10px;
}

section.container.login.signin {
  margin-top: 50px;
}

div.landing_remember_me {
  margin-left: 0px;
}

input.landing-sign-up-btn {
  margin-left: -15px;
}
#error_explanation {
  border: 2px solid #EED3D7;
  background-color: #F2DEDE;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
}

#error_explanation h2 {
  background-color: #F2DEDE;
  color: #B94A48;
  padding-left: 9px;
  padding-top: 7px;
  margin-bottom: 2px;
  font-size: 17px;
  font-weight: normal;
}

#error_explanation p {
  color: #B94A48;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
  color: #6B5F5B;
}

form.sign-in-form {
  padding-top: 30px;
}
