// Place all the styles related to the landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-grey:#f7f7f7;
$theme:#0F6534;
.main-unit {
  background-image: url(image_path('noisy-texture.png'));
  background-color: $theme;
  background-position: 50% 50%;
  background-repeat: repeat repeat;
  .container{
    margin-top: 20px;
    padding:40px;
  }
  .tagline{
    max-height: 500px;
    max-width: 500px;
    color: white;
    text-align: center;
    h1{text-shadow: 2px 2px 5px #0c58cc;}
  }

  .misc {
    img{
      margin-left: 40px;
      width:100%;
    }
  }
}
