<% content_for :admin_content do %>

<!-- Data block -->
<article class="data-block">
	<div class="data-container">
		<header>
			<h2>Showing a offer code</h2>
			<ul class="data-header-actions">
				<%= link_to(edit_admins_offer_code_path(@offer_code),:class => "btn btn-warning" ) do %>
				 Edit
				<% end %>
				<%= link_to(admins_offers_path,:class => "btn btn-danger") do %>
				 Back
				<% end %>	
			</ul>
		</header>
		<section class="tab-content">
			
			<!-- Form starts here -->
			<div class="span11" style="margin-left: 15px;">
			  	<div class="control-group">
					<label class="control-label" for="input">Code</label>
					<div class="controls">
						<p><%= @offer_code.code %></p>
					</div>
				</div>
			</div>
			<!-- Form ends here -->
		</section>
	</div>
</article>
<!-- /Data block -->

<br />

<% end %>

<%= render 'admins/admin_base' %>