<% content_for :error do %>
    <!--TODO: We should make the error page more attractive-->
    <% if alert %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert"></button>
          <%= alert %>
        </div>
    <% elsif flash[:error] || flash[:warning] || flash[:notice] %>
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert"></button>
          <%= flash[:error] || flash[:warning] || flash[:notice] %>
        </div>
    <% end %>
<% end %>